.actividad{
    background-color:gold;
    border-radius: 5px;
    color:rgb(72, 29, 29);
    cursor: text;
    font-family: monospace;
    opacity: 0.8;
    padding: 10px;
    align-items: center;
    width: fit-content;
    font-size: 15px; ;
    margin: auto;
    border: none   ;
}

.dia_semana{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

.body{
    background-color: rgb(205, 169, 140);
}